input::placeholder{
  color: var(--muted-text);
  font-size: 1.2em;
  
}

textarea {
  font: inherit;
  padding: 1em;
  box-sizing: border-box;
}

textarea::placeholder {
  color: var(--muted-text);
  font-size: 1em;
  font-style: inherit;
}


textarea:focus{
outline:  solid #8f53ff;
}

input:focus {
   outline:  solid #8f53ff;
}

input{
  box-sizing: border-box;
  padding-left: 2em; 
}

input[type="submit"] {
  background-color: #8f53ff;
  transition: background-color 0.1s;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: #9b45f7;
}

input[type="reset"] {
  background-color: var(--bg-color);
  transition: background-color 0.1s;
  cursor: pointer;
}

input[type="reset"]:hover{
  background-color: var(--secondary-bg);
}