.side-navbar {
  width: 18em;
  flex: 0 0 18em; 
  min-width: 18em;
  box-sizing: border-box;

  position: sticky;
  top: 8vh;

  align-self: flex-start;
  height: calc(100vh - 8vh);

  border-right: 0.1px solid var(--border-color);
  padding-left: 2rem;
  padding-top: 1.5em;
}

/* title */
.side-title {
  font-weight: 600;
  font-size: 1.3em;
  padding-left: 0.4em;
  margin-bottom: 0.6em;
}

/* links container */
.sideNav-Links {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

/* link */
.nav-button {
  text-decoration: none;
  color: var(--nav-link-color);

  height: 2em;
  width: 100%;
  max-width: 14em;

  display: flex;
  align-items: center;

  border-radius: 8px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

/* text padding */
.nav-text {
  padding-left: 0.5em;
}

/* hover */
.nav-button:hover {
  color: var(--text-color);
  background-color: var(--hover-bg);
}